<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>528026934919-snvm74j6cg2fvdmkmsvk18ei38hptduh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.528026934919-snvm74j6cg2fvdmkmsvk18ei38hptduh</string>
	<key>API_KEY</key>
	<string>AIzaSyDse2F1cDEqmheP5U4vBVcE8zWPsgaiNLA</string>
	<key>GCM_SENDER_ID</key>
	<string>528026934919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rewardsApp</string>
	<key>PROJECT_ID</key>
	<string>amwaj-rewards</string>
	<key>STORAGE_BUCKET</key>
	<string>amwaj-rewards.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:528026934919:ios:62eb9a6a9a2b8d493b2222</string>
</dict>
</plist>