<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>276566478127-c2d9hgbg2l7svqe7fl5ucknne3garbpo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.276566478127-c2d9hgbg2l7svqe7fl5ucknne3garbpo</string>
	<key>API_KEY</key>
	<string>AIzaSyCnh7WpHsBTw95eo5R2-y4BOjsR9OD6w1Y</string>
	<key>GCM_SENDER_ID</key>
	<string>276566478127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rewardsApp</string>
	<key>PROJECT_ID</key>
	<string>rewards-c9024</string>
	<key>STORAGE_BUCKET</key>
	<string>rewards-c9024.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:276566478127:ios:e3c3ddf7c5e84f4b96e5da</string>
</dict>
</plist>